/* responsive grid layout */

@media screen and (max-width: 600px){
  #grid[data-columns]::before {
    content: '1 .column.size-1of1';
  }
  .container {
    width: 90%;
  }
}

@media screen and (min-width: 601px) and (max-width: 992px) {
  #grid[data-columns]::before {
    content: '2 .column.size-1of2 balanced';
  }
  .container {
    width: 90%;
  }
}

@media screen and (min-width: 993px) and (max-width: 1280px) {
  #grid[data-columns]::before {
    content: '3 .column.size-1of3 balanced';
  }
  .container {
    width: 95%;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1600px) {
  #grid[data-columns]::before {
    content: '4 .column.size-1of4 balanced';
  }
  .container {
    width: 95%;
  }
}

@media screen and (min-width: 1601px) {
  #grid[data-columns]::before {
    content: '4 .column.size-1of4 balanced';
  }
  .container {
    width: 95%;
  }
}

.container {
  margin: 0 auto;
  max-width: 1920px;
}

.column {
  float: left;
}

.size-1of1 {
  width: 100%;
}

.size-1of2 {
  width: 47%;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.size-1of3 {
  width: 31.333%;
  margin-left: 1%;
  margin-right: 1%;
}

.size-1of4 {
  width: 24%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.article-header{
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 37px;
  border-bottom: 1px solid rgba(160,160,160,0.2)
}

/* always bottom footer */

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

/* nav bar */
.nav-progress {
    position: fixed;
    margin: 0;
}

.post-progress {
    position: fixed;
    margin: 0;
    top: 48px;
    wdith: 97.5%;
}

.nav-image {
  margin-top: 7px;
  height: 32px !important;
  width: 32px !important;
  margin-bottom: -7px;
}

.logo {
  margin-top: 7px;
  height: 32px !important;
  width: 32px !important;
  margin-bottom: -7px;
  margin-right: 5px;
}

.logo-text {
  font-size: 20px;
}

@media screen and (min-width: 601px){
    .navbar-fixed {
      height: 48px;
      margin-bottom: 4px;
    }

    nav {
        height: 48px;
        line-height: 48px;
    }

    nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
        height: 48px;
        line-height: 48px;
    }

    nav .button-collapse i {
        height: 48px;
        line-height: 48px;
    }

    nav .brand-logo {
        font-size: 1.6rem;
    }

    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 48px;
        line-height: 48px;
    }

    .nav-progress {
      top: 48px;
    }

}

@media screen and (max-width: 600px){
    .navbar-fixed {
      height: 48px;
      margin-bottom: 4px;
    }

    nav {
        height: 48px;
        line-height: 48px;
    }

    nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
        height: 48px;
        line-height: 48px;
    }

    nav .button-collapse i {
        height: 48px;
        line-height: 48px;
    }

    nav .brand-logo {
        font-size: 2.4rem;
    }

    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 48px;
        line-height: 48px;
    }

    .nav-progress {
      top: 48px;
    }
}

input[id="nav-search"] {
  height: 48px !important; /* fix for search in navbar on chrome */
}

input[id="nav-search"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}

input[id="nav-search"]::-moz-placeholder { /* Firefox 19+ */
  color: white;
}

input[id="nav-search"]:-ms-input-placeholder { /* IE 10+ */
  color: white;
}

input[id="nav-search"]:-moz-placeholder { /* Firefox 18- */
  color: white;
}

input[id="nav-search-mobile"] {
height: 48px !important; /* fix for search in navbar on chrome */
}

.nav-wrapper input {
  border-bottom: none !important;
}

.nav-wrapper .select-wrapper .caret {
  color: white;
}

.nav-wrapper .select-wrapper .select-dropdown {
  padding: 2px 0px 2px 0px;
}

.navbar-mobile .input-dropdown input  {
  padding: 0px 15px !important;
  border-bottom: none !important;
}

.navbar-mobile .select-dropdown {
  width: 282px !important;
}

/* end card */

.end-of-page {
  height: 50%;
}

/* card items */

.btn-card {
  width: 50px;
}

.card-image, .card-content {
  cursor: pointer;
}

.card-image {
  max-height: 350px;
  width: auto;
  overflow: hidden;
}

.card-action {
  height: 50px;
}

.card-icon-container {
  padding: 0px !important;
}

.card-icon {
  margin-right: 0px !important;
}

/* modal */

@media screen and (max-width: 600px){
    .post-modal {
      width: 100% !important;
      height: 100% !important;
      max-height: 100% !important;
      top: 0% !important;
    }

    .report-modal {
      width: 95%;
    }

    .report-modal .modal-content {
      padding: 30px 5px 5px 5px;
    }

}

@media screen and (min-width: 601px) and (max-width: 992px) {
    .post-modal {
      width: 95% !important;
      height: 90% !important;
      max-height: 90% !important;
      top: 5% !important;
    }


    .report-modal {
      width: 90%;
    }

    .report-modal .modal-content {
      padding: 30px 5px 5px 5px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1280px) {
    .post-modal {
      width: 90% !important;
      height: 90% !important;
      max-height: 90% !important;
      top: 5% !important;
    }

    .report-modal {
      width: 80%;
    }

    .report-modal .modal-content {
      padding: 30px 5px 5px 5px;
    }
}

@media screen and (min-width: 1281px) and (max-width: 1600px) {
    .post-modal {
      width: 80% !important;
      height: 90% !important;
      max-height: 90% !important;
      top: 5% !important;
    }

    .report-modal {
      width: 70%;
    }

    .report-modal .modal-content {
      padding: 30px 5px 5px 5px;
    }
}


@media screen and (min-width: 1601px) {
    .post-modal {
      width: 80% !important;
      height: 90% !important;
      max-height: 90% !important;
      top: 5% !important;
    }

    .report-modal {
      width: 60%;
    }

    .report-modal .modal-content {
      padding: 30px 5px 5px 5px;
    }

}

.img-container {
  max-width: 500px;
  max-height: 500px;
  display: table;
  margin: 0 auto;
}

.post-modal .modal-header, .post-modal .row {
  margin-bottom: 5px !important;
}

.post-modal .modal-footer {
  height: 48px;
}

.post-modal .modal-footer .row {
  margin-top: 5px !important;
}

.post-modal .modal-content {
  height: calc(100% - 110px) !important;
  padding: 12px !important;
}
/* modal header */

.post-modal .modal-fixed-header {
  padding: 0;
  height: 70%;
  overflow-x: hidden;
}

.post-modal .modal-header .row .col .tabs {
  overflow-x: hidden;
}

.modal-header .row .col .tabs {
  overflow-x: hidden;
}

.post-modal .modal-fixed-header .modal-header {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
}
.post-modal .modal-fixed-header .modal-header {
  border-radius: 0 0 2px 2px;
  padding: 4px 6px;
  height: 56px;
  width: 100%;
}
.post-modal .modal-fixed-header .modal-content {
  position: absolute;
  top: 56px;
  height: calc(85%);
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
}

/* tab indicator */
.indicator {
    background-color: #8bc34a !important;
}

/* report comment */
.report-comment-desktop {
  display: none;
}

.collection-item-comments:hover .report-comment-desktop {
  display: block;
}

/* form error messages */

 form label {
    width: 100%;
}
#input-validate-label {
    -webkit-transform: translateY(-140%);
    -moz-transform: translateY(-140%);
    -ms-transform: translateY(-140%);
    -o-transform: translateY(-140%);
    transform: translateY(-140%);
}

/* tags typeahead styling */

.tt-menu {
    min-width:200px;
    max-width:100%;
    padding:10px 0;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    background:#fff;
    -webkit-box-shadow:0 2px 5px rgba(0,0,0,.35);
    -moz-box-shadow:0 2px 5px rgba(0,0,0,.35);
    box-shadow:0 2px 5px rgba(0,0,0,.35)
}
.materialize-tags .tt-menu .tt-suggestion {
    line-height:1.1rem !important;
    padding:2px 10px !important
}
.materialize-tags .tt-menu .tt-cursor {
    background:#03a9f4;color:#fff
}

/* chips */
.chip {
  margin-top: 5px !important;
}

.chip a:link, .chip a:hover, .chip a:visited, .chip a:active {
  color: black;
}

.article-user .chip {
  margin-top: 0px !important;
}

.article-tag .chip {
  background-color: #c5e1a5 !important;
  margin-top: 0px !important;
}

.materialize-tags .chip {
  background-color: #c5e1a5 !important;
  margin-top: 10px !important;
}

.collapsible-body {
  padding: 0.5rem !important;
}


/* create post page */

@media screen and (max-width: 600px){
  .create-post-container {
    width: 90%;
  }
}

@media screen and (min-width: 601px) and (max-width: 992px) {
  .create-post-container {
    width: 80%;
  }
}

@media screen and (min-width: 993px) and (max-width: 1280px) {
  .create-post-container {
    width: 70%;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1600px) {
  .create-post-container {
    width: 60%;
  }
}

@media screen and (min-width: 1601px) {
  .create-post-container {
    width: 50%;
  }
}

/* standalone post page */
@media screen and (max-width: 600px){
  .standalone-post-container {
    width: 90%;
  }
}

@media screen and (min-width: 601px) and (max-width: 992px) {
  .standalone-post-container {
    width: 80%;
  }
}

@media screen and (min-width: 993px) and (max-width: 1280px) {
  .standalone-post-container {
    width: 70%;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1600px) {
  .standalone-post-container {
    width: 60%;
  }
}

@media screen and (min-width: 1601px) {
  .standalone-post-container {
    width: 50%;
  }
}

/* profile page */
@media screen and (max-width: 600px){
  .profile-container {
    width: 90%;
  }
}

@media screen and (min-width: 601px) and (max-width: 992px) {
  .profile-container {
    width: 80%;
  }
}

@media screen and (min-width: 993px) and (max-width: 1280px) {
  .profile-container {
    width: 70%;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1600px) {
  .profile-container {
    width: 60%;
  }
}

@media screen and (min-width: 1601px) {
  .profile-container {
    width: 50%;
  }
}

.create-post-container .row{
  margin-left: auto !important;
  margin-right: auto !important;
}
/* maps */

#map {
  height: 300px;
  width: 100%;
}

/* chats */
img.chat_pic, img.active_chat_pic{
    height:50px;
    width:50px;
    border-radius: 50%;
    float:left;
}

/* small and down */
@media screen and (max-width: 600px){

    div.people-list{
        width: 100%;
        height: 75vh;
        overflow-x: hidden;
        overflow-y: auto;
        padding-left: 10px;
        padding-right: 10px;
        display: none;
    }

    div.status{
        padding-bottom: 15px;
    }

    div.chat-container{
        width: 90%;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    div.chat{
        width: 100%;
        height: 75vh;
        overflow-y: auto;
    }

    div.chat-header{
        height: 10%;
        overflow: hidden;
        padding-left: 10px;
        padding-right: 10px;
    }

    div.chat-history{
        height: 50%;
        overflow-x: hidden;
        overflow-y: scroll;
        padding-left: 10px;
        padding-right: 10px;
    }

}

/* small and down */
@media screen and (min-width: 601px){

    div.mobile-toggle{
        display: none;
    }

    div.chat-container{
        width: 80%;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    div.people-list{
        float: left;
        width: 25%;
        height: 75vh;
        overflow-x: hidden;
        overflow-y: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    div.status{
        padding-bottom: 15px;
    }

    div.chat{
        float: right;
        width: 75%;
        height: 75vh;
        overflow-y: auto;
    }

    div.chat-header{
        height: 10%;
        overflow: hidden;
        padding-left: 10px;
        padding-right: 10px;
    }

    div.chat-history{
        height: 50%;
        overflow-x: hidden;
        overflow-y: scroll;
        padding-left: 10px;
        padding-right: 10px;
    }
}

div.message{
    border-radius: 10px;
    /*max-width: 90%;*/
    height: auto;
    word-wrap: break-word;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: inline-block;
}

div.other-message{
    background-color: #eeeeee;
    text-align: left;
    border: 1px solid #cccccc;
}

div.my-message{
    background-color: #dddddd;
    text-align: left;
    border: 1px solid #cccccc;
}

/* live format, for future use
div.align-right, div.float-right{
    float:right;
}

div.message-data, div.float-right{
    clear:both;
}

div.my-message{
    background-color: #dddddd;
    text-align: left;
}

div.other-message{
    background-color: #c8f296;
    text-align: right;
}
*/

#image-preview-container {
    position: relative;
    display: none;
}

#image-preview-close {
    position: absolute;
    top: 5px;
    right: 5px;
    float: right;
    z-index: 100;
    background-color: #FFF;
    padding: 10px 8px 10px 8px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.7;
    text-align: center;
    font-size: 30px;
    line-height: 10px;
    border-radius: 50%;
}
#image-preview-close:hover {
    opacity: 1;
}

p {
    word-wrap: break-word;
}

.title a {
  color: black;
}