/* responsive grid layout */

@media screen and (max-width: 600px){
  #grid[data-columns]::before {
    content: '1 .column.size-1of1';
  }
  .container {
    width: 90%;
  }
}

@media screen and (min-width: 601px) and (max-width: 992px) {
  #grid[data-columns]::before {
    content: '2 .column.size-1of2 balanced';
  }
  .container {
    width: 90%;
  }
}

@media screen and (min-width: 993px) and (max-width: 1280px) {
  #grid[data-columns]::before {
    content: '3 .column.size-1of3 balanced';
  }
  .container {
    width: 90%;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1600px) {
  #grid[data-columns]::before {
    content: '4 .column.size-1of4 balanced';
  }
  .container {
    width: 90%;
  }
}

@media screen and (min-width: 1601px) {
  #grid[data-columns]::before {
    content: '4 .column.size-1of4 balanced';
  }
  .container {
    width: 90%;
  }
}

.container {
  margin: 0 auto;
  max-width: 1920px;
}

.column { 
  float: left; 
}

.size-1of1 { 
  width: 100%; 
}

.size-1of2 { 
  width: 47%; 
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.size-1of3 { 
  width: 31.333%; 
  margin-left: 1%;
  margin-right: 1%;
}

.size-1of4 { 
  width: 24%; 
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.article-header{
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 37px;
  border-bottom: 1px solid rgba(160,160,160,0.2)
}

/* always bottom footer */

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

/* nav bar */
.nav-progress {
    position: fixed;
    margin: 0;
}

@media screen and (min-width: 601px){
    .navbar-fixed {
      height: 50px;
      margin-bottom: 4px;
    }

    nav {
        height: 25px;
        line-height: 25px;
    }

    nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
        height: 25px;
        line-height: 25px;
    }

    nav .button-collapse i {
        height: 25px;
        line-height: 25px;
    }

    nav .brand-logo { 
        font-size: 1.6rem; 
    }

    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 25px;
        line-height: 25px;
    }

    .nav-progress {
      top: 50px;
    }

}

@media screen and (max-width: 600px){
    .navbar-fixed {
      height: 48px;
      margin-bottom: 4px;
    }

    nav {
        height: 48px;
        line-height: 48px;
    }

    nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
        height: 48px;
        line-height: 48px;
    }

    nav .button-collapse i {
        height: 48px;
        line-height: 48px;
    }

    nav .brand-logo { 
        font-size: 2.4rem; 
    }

    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 48px;
        line-height: 48px;
    }

    .nav-progress {
      top: 48px;
    }
}

input[id="nav-search"] {
height: 25px !important; /* fix for search in navbar on chrome */
}

input[id="nav-search-mobile"] {
height: 64px !important; /* fix for search in navbar on chrome */
}

/* end card */

.end-of-page {
  height: 50%;
}

/* card items */

.btn-card {
  width: 50px;
}

.card-action {
  height: 50px;
}
/* modal */

@media screen and (max-width: 600px){
    .modal {
      width: 90% !important;
      height: 90% !important;
      max-height: 90% !important;
    }
}

@media screen and (min-width: 601px) and (max-width: 992px) {
    .modal {
      width: 85% !important;
      height: 90% !important;
      max-height: 90% !important;
    }
}

@media screen and (min-width: 993px) and (max-width: 1280px) {
    .modal {
      width: 90% !important;
      height: 90% !important;
      max-height: 90% !important;
    }
}

@media screen and (min-width: 1281px) and (max-width: 1600px) {
    .modal {
      width: 80% !important;
      height: 90% !important;
      max-height: 90% !important;
    }
}


@media screen and (min-width: 1601px) {
    .modal {
      width: 80% !important;
      height: 90% !important;
      max-height: 90% !important;
    }
}

/* modal header */

.modal.modal-fixed-header {
  padding: 0;
  height: 70%;
}
.modal.modal-fixed-header .modal-header {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
}
.modal.modal-fixed-header .modal-header {
  border-radius: 0 0 2px 2px;
  padding: 4px 6px;
  height: 56px;
  width: 100%;
}
.modal.modal-fixed-header .modal-content {
  position: absolute;
  top: 56px;
  height: calc(85%);
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
}

/* tab indicator */
.indicator {
    background-color: #8bc34a !important;
}